body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #eff3f6;
  background-color: #f8f9fd;
  overflow: hidden;
  margin: 0;
}

